; begin auth token
//karimali.pkgs.visualstudio.com/Appology/_packaging/Appology/npm/registry/:username=karimali
//karimali.pkgs.visualstudio.com/Appology/_packaging/Appology/npm/registry/:_password=YmE3ZmRmY29uc2xtZnpncjZwbGcyNTQ2cnJybmNqZmd0Nmw0NHdrdWRianFqbmZ3cHBhcQ==
//karimali.pkgs.visualstudio.com/Appology/_packaging/Appology/npm/registry/:email=npm requires email to be set but doesn't use the value
//karimali.pkgs.visualstudio.com/Appology/_packaging/Appology/npm/:username=karimali
//karimali.pkgs.visualstudio.com/Appology/_packaging/Appology/npm/:_password=YmE3ZmRmY29uc2xtZnpncjZwbGcyNTQ2cnJybmNqZmd0Nmw0NHdrdWRianFqbmZ3cHBhcQ==
//karimali.pkgs.visualstudio.com/Appology/_packaging/Appology/npm/:email=npm requires email to be set but doesn't use the value
; end auth token